# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

app-release.aab
signed-release.aab
/www/assets/simple_dl
/src/assets/simple_dl
/.angular
/platforms
/node_modules